<?xml version="1.0"?>
<launch>
    <arg name="is_sim" default="false"/>
    
    <rosparam  file="$(find arduinobot_controller)/config/trajectory_controllers.yaml"  command="load"/>
    <rosparam  file="$(find arduinobot_controller)/config/joint_state_controller.yaml" command="load"/>

    <param name = "robot_description" command  = "$(find xacro)/xacro  $(find arduinobot_description)/urdf/arduinobot.urdf.xacro"/>

    <group unless = "$(arg is_sim)">
        <node pkg = "arduinobot_controller" type = "angles_converter" name = "angles_converter" 
                respawn = "true" output = "screen"/>

        <node pkg = "arduinobot_controller" type = "arduinobot_interface_node" name = "arduinobot_interface_node" 
                respawn = "true" output = "screen" ns = "arduinobot"/>
    </group>
    
    <node pkg = "controller_manager" type = "spawner" name = "controller_spawner" respawn = "false" output = "screen" ns = "arduinobot" 
        args = "arm_controller gripper_controller joint_state_controller"/>
    
    <node name = "robot_state_publisher" pkg = "robot_state_publisher" type = "robot_state_publisher">
        <remap from="/joint_state" to="/arduinobot/joint_states"/>
    </node>

</launch>
